$peach:           #ff6358;
$gray:            #bdbdbd;
$green:           #73C92B;
$background:      #f0ebd8;
$background-dark: desaturate( darken( $background, 25% ), 20% );

body.dark-background {
  min-height: 100vh;
  width:      100vw;
  font-size:  18px;
  background: $background-dark; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( left top,        $background, $background-dark ); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient( bottom right,    $background, $background-dark ); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient( bottom right,    $background, $background-dark ); /* For Firefox 3.6 to 15 */
  background:         linear-gradient( to bottom right, $background, $background-dark ); /* Standard syntax */
}

.row {
  margin: 0!important;
}
.m-t-1 {
  margin-top: 10px;
}
.m-b-1 {
  margin-bottom: 10px;
}
.m-t-3 {
  margin-top: 30px;
}

.green {
  color: $green!important;
}

.peach {
  color: $peach;
}

input[type="text"] {
  padding-left:  4px;
  border-radius: 3px;
  border-width:  1px;
  width:         100%;
  max-width:     200px;

  &:focus {
    outline-color: $peach;
  }
}

h3 {
  color: $gray;
  font-size: 1em!important;
}

.go-full-screen p {
  font-size: .8em;

}

.btn-outline-primary {
  border-color: $peach!important;
  color:        $peach!important;

  &:focus {
    outline-color: $peach;
  }
  &:hover,
  &.paused {
    background-color: $peach!important;
    color:            white!important;

    &.disabled {
      color:            white!important;
      background-color: darkgrey!important;
    }
  }

  &.disabled {
    color:        darkgrey!important;
    border-color: darkgrey!important;
  }

  &.ready {
    border-color: $green!important;
    color:        $green!important;

    &:hover{
      background-color: $green!important;
      color:            white!important;
    }
  }
}

.play-screen {
  height: 100%;

  .celebration-panel {
    position:            absolute;
    height:              70%;
    width:               100%;
    opacity:             0;
    transition-duration: 2s;
    text-align:          center;
    padding-top:         30%;
    pointer-events:      none;

    .clock {
      span {
        font-size:   90px;
        margin-left: -25px;

        &.hurry {
          color:       $peach;
          text-shadow: 0 0 20px $peach;
        }
        &.pulse {
          -webkit-animation-name:            pulsate;
          -webkit-animation-duration:        1s;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: infinite;
        }
      }
    }

    span {
      font-size:   72px;
      color:       white;
      text-shadow: 0 0 20px white;

      &.peach{
        color: $peach;
      }
    }

    &.celebrations {
      opacity: 1;
    }
  }

  play-field {
    padding-top: 10px;
    display:     block;
    height:      100vh;
    width:       100%;

    font-size:   1em;
  }
}

@media screen and (max-width: 700px) {
}

#lobby{
  height:     100vh;
  font-size:  .5em;
  // background: blue;



  .mini-view {
    // background: red;
    height:     33vh;
    padding:    10px;

    play-field {
      //background: yellow;
      height:     100%;
      display:    block;
    }
  }

  chat-lobby {
    display: block;
    width:   100%;
  }

  .game-lobby {
    height: 100%;

    .opponent-info {
      font-size: 3em;

      div {
        display: inline-block;
      }
    }
  }


  .server-lobby {
    height: 100%;


    /*.player-list {
      padding: 10px;
    }

    .message-list {
      padding:       10px;
    }

    .player-list {
      font-size:        2em;
      height:           20vh;

      .player-names{
        background-color: white;
        border:           1px solid darkgray;
        border-radius:    3px;
        overflow-y:       auto;
        height:           calc(100% - 2.5rem);
      }
    }

    .message-list {
      height:      65vh;
      padding-top: 10px;
      font-size:   2em;

      .messages {
        height:        calc(100% - 3em);
        border:        1px solid darkgray;
        border-radius: 3px;
        background:    white;
        width:         100%;
        overflow-y:    hidden;

        div {
          padding: 0 15px;
          color:   darkgray;

          &.self {
            color:        limegreen;
            border-color: limegreen;
          }

          div {
            margin:        0 0 5px;
            padding:       0;
          }

          p {
            padding-left:  5px;
            color:         inherit;
            margin-bottom: 0;
            border-width:  1px;
            border-style:  dashed;
            border-color:  inherit;
            border-radius: 10px;
          }
        }
      }

      .send-message {
        height: 2em;

        div:nth-child(1) {
          padding: 0.1em 0;
        }

        button {
          float: right;
        }
      }
    }*/
  }
}

music-player {
  position:  fixed;
  bottom:    10px;
  right:     10px;
  font-size: .8em;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  #main-field {
    font-size: .8em;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 576px) and (max-width: 768px) {
  #main-field {
    font-size: 1em;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 768px) and (max-width: 992px) {
  #main-field {
    font-size: 1.4em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #main-field {
    font-size: 1.1em;
  }
}

@-webkit-keyframes pulsate {
  0% { width:1px;height: 1px; opacity: 0.0}
  10% { width:3px;height: 3px; opacity: .20}
  20% { width:5px;height: 5px; opacity: .40 }
  30% { width:7px;height: 7px; opacity: .60 }
  40% { width:9px;height: 9px; opacity: .80 }
  50% { width:11px;height: 11px; opacity: 1.0}
  60% { width:13px;height: 13px; opacity: .80}
  70% { width:15px;height: 15px;  opacity: .60}
  80% { width:17px;height: 17px;  opacity: .40}
  90% { width:19px;height: 19px;  opacity: .20}
  100% { width:21px;height: 21px;  opacity: 0.0}
}






