$peach: #ff6358;
$gray:  #bdbdbd;
$green: #73C92B;

body.dark-background {
  background-color: #f0ebd8;
}

.row {
  margin: 0!important;
}

.m-t-1 {
  margin-top: 10px;
}
.m-t-3 {
  margin-top: 30px;
}

.green {
  color: $green!important;
}

.peach {
  color: $peach;
}

input {
  border-radius: 3px;
  border-width: 1px;

  &:focus {
    outline-color: $peach;
  }
}

#particles-js{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-outline-primary {
  border-color: $peach!important;
  color: $peach!important;

  &:hover,
  &.paused {
    background-color: $peach!important;
    color: white!important;

    &.disabled {
      color: white!important;
      background-color: darkgrey!important;
    }
  }

  &.disabled {
    color: darkgrey!important;
    border-color: darkgrey!important;
  }

  &.ready {
    border-color: $green!important;
    color: $green!important;

    &:hover{
      background-color: $green!important;
      color: white!important;
    }
  }
}

.title{
  h1 {
    margin-top: 25vh;
    color: #444444;
    font-size: 6em!important;
  }

  .heart {
    font-weight: bolder;
    font-size: 1.1em;
  }
}


.play-screen {
  height: 100vh;

  .celebration-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-duration: 1s;
    text-align: center;
    padding-top: 30%;
    pointer-events: none;


    span {
      font-size: 72px;
      color: white;
      text-shadow: 0 0 20px white;

      &.peach{
        color: $peach;
      }
    }

    &.celebrations {
      opacity: 1;
    }
  }

  .field {
    width: 75vh;
    height: 85vh;
    margin: 5vh auto 0;
  }

  .info {
    width: 75vh;
    margin: 10px auto 0!important;

    .player-name,
    .player-score,
    .player-swaps {
      font-size: 28px;
      display: inline-block;
      width: 33%;
    }

    .player-swaps {
      text-align: center;
    }

    .player-score {
      text-align: right;
      float: right;
    }
  }
}

#lobby{
  .row {
    width: 90%;
  }
  .field {
    width: 250px;
    height: 250px;
    margin: 10px auto 0;
  }

  .info {
    width: 100%;
    margin: 10px auto 0!important;

    .player-name,
    .player-score,
    .player-swaps {
      font-size: 28px;
      display: inline;
      width: 33%;
    }

    .player-score {
      text-align: right;
      float: right;
    }
  }
}

.music-controls {
  position: fixed;
  bottom: 10px;
  right: 10px;

  .btn {
    padding: 0.2em 0.5em;
  }
}






