<div class="wrapper">
  <div class="row"
       [ngClass]="{'full-size': !player.name}">
    <div class="field"
         *ngIf="player">
      <board [gameOver]="gameOver"
             [ownBoard]="ownBoard"
             [tiles]="player.tiles"
             (boardUpdated)="tileSwap($event)">
      </board>
    </div>
  </div>
  <div class="row info no-gutters"
       *ngIf="player.name">
    <div class="col-4">
      <div>Score: {{player.score}}</div>
      <div>Swaps: {{player.tileSwaps}}</div>
    </div>
    <div class="col-8">
      <div>Player: {{player.name}}</div>
    </div>
  </div>
</div>
