<div class="wrapper">
  <div class="row">
    <div class="field" *ngIf="player">
      <board [gameOver]="gameOver" [ownBoard]="ownBoard" [tiles]="player.tiles" (boardUpdated)="tileSwap($event)"></board>
    </div>
  </div>
  <div class="row info no-gutters">
    <div class="player-score col-4">
      <div>Score: {{player.score}}</div>
      <div>Swaps: {{player.tileSwaps}}</div>
    </div>
    <div class="player-name col-8">
      <span>Player: {{player.name}}</span>
    </div>
  </div>
</div>
