<div class="wrapper">
  <div class="row justify-content-end">
    <div id="main-field"
         class="col-12"
         [ngClass]="{'col-lg-6': state === 'splash', 'col-lg-9': state === 'play'}">
      <div [ngSwitch]="state">
        <div class="splash-screen"
             *ngSwitchCase="'splash'">
          <div class="row justify-content-center">
            <title-header></title-header>
          </div>
          <div class="row justify-content-center">
            <div class="col-6 text-right m-t-3">
              <label for="url">Server url: <small>(optional)</small></label>
            </div>
            <div class="col-6 m-t-3">
              <input id="url" type="text" [(ngModel)]="customUrl.value" />
            </div>

            <div class="col-6 text-right m-t-3">
              <label for="player-name">Player name: <small>(required)</small></label>
            </div>
            <div class="col-6 m-t-3">
              <input id="player-name" type="text" [(ngModel)]="playerName.value" />
            </div>

            <div class="col-12 text-center m-t-3">
              <button class="btn btn-lg btn-outline-primary"
                      [ngClass]="{'disabled': !playerName.value}"
                      (click)="connectToGame(playerName.value, customUrl.value)"
                      [disabled]="!playerName.value">
                <span>Connect</span>
              </button>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'game-select'"
             class="game-select">
          <div class="row justify-content-center">
            <title-header></title-header>
          </div>
          <div class="row">
            <div class="col-12 text-center m-t-3">
              <label for="game-name">Game name: <small>(optional)</small></label>
              <input id="game-name" class="" type="text" #gameName />
            </div>

            <div class="col-12 text-center m-t-3">
              <div>Game difficulty: </div>
              <input class="" type="radio" value="0" name="difficulty" [(ngModel)]="difficulty" /> Easy
              <input class="" type="radio" value="1" name="difficulty" [(ngModel)]="difficulty" /> Medium
              <input class="" type="radio" value="2" name="difficulty" [(ngModel)]="difficulty" /> Difficult
            </div>

            <div class="col-12 text-center m-t-3">
              <div>Board size: </div>
              <input class="" type="radio" value="0" name="mode" [(ngModel)]="mode" /> 8x8
              <input class="" type="radio" value="1" name="mode" [(ngModel)]="mode" /> 10x10
              <input class="" type="radio" value="2" name="mode" [(ngModel)]="mode" /> 15x15
            </div>

            <div class="col-12 text-center m-t-3">
              <button class="btn btn-lg btn-outline-primary"
                      [ngClass]="{'disabled': !difficulty || !mode}"
                      (click)="newGame(gameName.value, difficulty, mode)"
                      [disabled]="!difficulty">
                <span>New game</span>
              </button>
            </div>

            <<!--div class="col-12 text-center m-t-3" *ngIf="games.length > 0">
              <span>Game: <small>(select one to join)</small></span>
              <select>
                <option value="game" *ngFor="let game of games">{{game}}</option>
              </select>
            </div>-->
            <div class="col-12 text-center m-t-3" *ngIf="games.length > 0">
              <button class="btn btn-lg btn-outline-primary"
                      (click)="joinGame()">
                <span>Join game</span>
              </button>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'lobby'"
             class="lobby">
          <div class="row justify-content-center">
            <title-header></title-header>
          </div>
          <div class="row">
            <div class="col-12 text-center m-t-3">
              <button class="btn btn-lg btn-outline-primary"
                      [ngClass]="{'ready': isReady()}"
                      (click)="toggleSelfReady()">
                <span>Ready</span>
              </button>
            </div>

            <div class="col-12 text-center m-t-3">
              <button class="btn btn-lg btn-outline-primary"
                      [ngClass]="{'disabled': !canStartGame()}"
                      (click)="canStartGame() && startGame()"
                      [disabled]="!canStartGame()">
                <span>Start game</span>
              </button>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'play'"
             class="play-screen">
          <div [ngClass]="{'celebrations': celebrations}"
               class="celebration-panel">
            <span *ngIf="celebrations === 'win'">You win!</span>
            <span *ngIf="celebrations === 'lose'" class="peach">You lose!</span>
          </div>
          <play-field [ownBoard]="true"
                      [player]="self"
                      [gameOver]="gameOver()"
                      (boardUpdated)="tileSwap(self, $event)"></play-field>
        </div>
      </div>
    </div>

    <div id="lobby"
         class="col-lg-3 col-12 hidden-md-down">
      <div class="row"
           *ngIf="state === 'lobby'">
        <div class="row"
             *ngFor="let player of players">
          <div class="info"
               *ngIf="player.id !== self.id">
            <div class="player-name">
              <span [ngClass]="{'green': player.isReady, 'peach': !player.isReady}">Player: {{player.name}}</span>
            </div>
            <div class="player-score">
              <span>Score: {{player.score}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="state === 'play'">
        <div class="row"
             *ngFor="let player of players">
          <div *ngIf="player.id !== self.id"
               class="mini-field">
            <play-field [ownBoard]="false"
                        [gameOver]="gameOver()"
                        [player]="player"></play-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<music-player></music-player>
