<div class="wrapper">
  <div class="row justify-content-end">
    <div id="main-field"
         class="col-12"
         [ngClass]="{'col-lg-6': splash || select || lobby, 'col-lg-9': play}">
      <div class="row justify-content-center"
           *ngIf="!play && !lobby">
        <title-header></title-header>
      </div>
      <welcome-screen *ngIf="splash"
                      (connect)="connectToServer($event)">
      </welcome-screen>

      <server-lobby-screen *ngIf="select"
                           [games]="games"
                           (join)="joinGame($event)"
                           (startNew)="newGame($event)">
      </server-lobby-screen>

      <game-lobby-screen *ngIf="lobby"
                         [gameName]="gameName"
                         [self]="self"
                         [players]="players"
                         [solution]="solution"
                         (start)="startGame()"
                         (toggle)="toggleReady()">
      </game-lobby-screen>

      <in-game-screen *ngIf="play"
                      [celebrations]="celebrations"
                      [self]="self"
                      [countdown]="countdown"
                      (countdownDone)="setCountdown('')"
                      (swap)="tileSwap($event)">
      </in-game-screen>


    </div>

    <div id="lobby"
         class="col-3 d-none d-lg-block">
      <div *ngIf="select"
           class="row server-lobby no-gutters align-items-center">
        <chat-lobby [messages]="globalMessages"
                    [players]="globalPlayers"
                    [self]="self"
                    (sendMessage)="sendGlobalChatMessage($event)">
        </chat-lobby>
      </div>
      <div *ngIf="lobby"
           class="row game-lobby no-gutters align-items-center">
        <chat-lobby [messages]="messages"
                    [players]="players"
                    [self]="self"
                    (sendMessage)="sendChatMessage($event)">
        </chat-lobby>
      </div>
      <div *ngIf="play">
        <div *ngFor="let player of players" class="col-lg-10 col-xl-8 mini-view">
          <play-field [ownBoard]="false"
                      [gameOver]="gameOver()"
                      [player]="player"
                      *ngIf="player.id !== self.id"></play-field>
        </div>
      </div>
    </div>
  </div>
</div>
<music-player></music-player>
