<div class="game-lobby">
  <div class="row">
    <div class="col-12 text-center m-t-3">
      <h2>Get ready for {{gameName}}!</h2>
      <p>
        Once the game has initiated, you are presented with a large playing field.
        When this playing field was generated, it contained an eye pleasing gradient like below,
        however on your board these tiles have been scrambled!
      </p>
      <play-field [ownBoard]="false"
                  [player]="solution"
                  [gameOver]="false">
      </play-field>
      <p>
        It's your task to rearrange the scrambled tiles and make the playing field great again!
        Click a swap-able tile, the ones with a black dot are <strong>not</strong> swap-able, and click
        the other tile you want to swap it with.
      </p>
      <p>
        Click
        <button class="btn btn-sm btn-outline-primary"
                [ngClass]="{'ready': self.status === 2}"
                (click)="toggleReady()">
          <span>Ready</span>
        </button> once you are prepared.
        The game can be initiated by any player as soon as everybody is ready.
      </p>
    </div>

    <div class="col-12 text-center m-t-3 m-b-1">
      <button class="btn btn-lg btn-outline-primary"
              [ngClass]="{'disabled': !canStartGame()}"
              (click)="canStartGame() && startGame()"
              [disabled]="!canStartGame()">
        <span>Start game</span>
      </button>
      <button class="btn btn-lg btn-outline-primary"
              [ngClass]="{'disabled': canStartGame()}"
              (click)="leaveGame()"
              [disabled]="canStartGame()">
        <span>Leave game</span>
      </button>
    </div>
  </div>
</div>
